/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-eryl79jwrv] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-eryl79jwrv] {
    flex: 1;
}

.sidebar[b-eryl79jwrv] {
    background-color: rgb(0,0,0);
}

.top-row[b-eryl79jwrv] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-eryl79jwrv]  a, .top-row[b-eryl79jwrv]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-eryl79jwrv]  a:hover, .top-row[b-eryl79jwrv]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-eryl79jwrv]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-eryl79jwrv] {
        justify-content: space-between;
    }

    .top-row[b-eryl79jwrv]  a, .top-row[b-eryl79jwrv]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-eryl79jwrv] {
        flex-direction: row;
    }

    .sidebar[b-eryl79jwrv] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-eryl79jwrv] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-eryl79jwrv]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-eryl79jwrv], article[b-eryl79jwrv] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-fl3o0q66by] {
    background-color: rgba(0, 0, 0, 1);
  }
  
  .top-row[b-fl3o0q66by] {
    height: 3.5rem;
    background-color: rgba(0, 0, 0, 1);
  }
  
  .navbar-brand[b-fl3o0q66by] {
    font-size: 1.1rem;
  }
  
  .bi[b-fl3o0q66by] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
  }
  
  .bi-house-door-fill-nav-menu[b-fl3o0q66by] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
  }
  
  .bi-plus-square-fill-nav-menu[b-fl3o0q66by] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
  }
  
  .bi-list-nested-nav-menu[b-fl3o0q66by] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
  }
  
  .nav-item[b-fl3o0q66by] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
  }
  
  .nav-item:first-of-type[b-fl3o0q66by] {
    padding-top: 1rem;
  }
  
  .nav-item:last-of-type[b-fl3o0q66by] {
    padding-bottom: 1rem;
  }
  
  .nav-item[b-fl3o0q66by]  a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
  }
  
  .nav-item[b-fl3o0q66by]  a.active {
    background-color: rgba(0, 0, 0, 1);
    color: white;
  }
  
  .nav-item[b-fl3o0q66by]  a:hover {
    background-color: rgba(0, 0, 0, 1);
    color: white;
  }
  
  @media (min-width: 641px) {
    .navbar-toggler[b-fl3o0q66by] {
      display: none;
    }
  
    .collapse[b-fl3o0q66by] {
      /* Never collapse the sidebar for wide screens */
      display: block;
    }
  
    .nav-scrollable[b-fl3o0q66by] {
      /* Allow sidebar to scroll for tall menus */
      height: calc(100vh - 3.5rem);
      overflow-y: auto;
    }
  }
  
/* /Pages/Home.razor.rz.scp.css */
@@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.sesame-bun[b-xhonqvrda9] 
{ 
    background-color: #F4A460; 
    border-radius: 50px 50px 0 0;
    height: 60px;
    position: relative;
    overflow: hidden;
}

.garlic-bun[b-xhonqvrda9] 
{ 
    background-color: #F4A460; 
    border-radius: 50px 50px 0 0;
    height: 60px;
    position: relative;
    overflow: hidden;
}
.parmesan-bun[b-xhonqvrda9] 
{ 
    background-color: #F4A460; 
    border-radius: 50px 50px 0 0;
    height: 60px;
    position: relative;
    overflow: hidden;
}
.plain-bun[b-xhonqvrda9] 
{ 
    background-color: #F4A460; 
    border-radius: 50px 50px 0 0;
    height: 60px;
    position: relative;
    overflow: hidden;
}
.sesame-bun[b-xhonqvrda9] 
{ 
    background-color: #F4A460; 
    border-radius: 50px 50px 0 0;
    height: 60px;
    position: relative;
    overflow: hidden;
}

.bun-top[b-xhonqvrda9]::after 
{
    content: '';
    position: absolute;
    top: 5px;
    left: 10%;
    right: 10%;
    height: 10px;
    background-color: #D2691E;
    border-radius: 50%;
}
.bun-bottom[b-xhonqvrda9] { 
    background-color: #F4A460;
    border-radius: 0 0 50px 50px;
    height: 30px;
}

.veggie-patty[b-xhonqvrda9] 
{ 
    background-color: #e68b2a;
    height: 30px;
    border-radius: 10px;
}
.chicken-patty[b-xhonqvrda9] 
{ 
    background-color: #532300;
    height: 30px;
    border-radius: 10px;
}
.fish-patty[b-xhonqvrda9] 
{ 
    background-color: #92562b;
    height: 30px;
    border-radius: 10px;
}
.portobello-mushroom-patty[b-xhonqvrda9] 
{ 
    background-color: #aa623c;
    height: 30px;
    border-radius: 10px;
}
.aioli[b-xhonqvrda9]
{
    background-color: #ffefb3;
    height: 10px;
}
.bbq-sauce[b-xhonqvrda9]
{
    background-color: #8b0000;
    height: 10px;
}
.ketchup[b-xhonqvrda9]
{
    background-color: #ff0000;
    height: 10px;
}
.mustard[b-xhonqvrda9]
{
    background-color: #ffdb58;
    height: 10px;
}
.hot-sauce[b-xhonqvrda9]
{
    background-color: #ff4500;
    height: 10px;
}
.ranch[b-xhonqvrda9]
{
    background-color: #c4bf60;
    height: 10px;
}
.mayonnaise[b-xhonqvrda9]
{
    background-color: #fff5ee;
    height: 10px;
}

.onion[b-xhonqvrda9] { 
    background-color: #FFA07A;
    height: 15px;
    border-radius: 0 0 20px 20px;
}
.tomato[b-xhonqvrda9] { 
    background-color: #FF6347;
    height: 15px;
    border-radius: 0 0 20px 20px;
}
.avocado[b-xhonqvrda9] { 
    background-color: #7CFC00;
    height: 15px;
    border-radius: 0 0 20px 20px;
}
.bacon[b-xhonqvrda9] { 
    background-color: #8B0000;
    height: 15px;
    border-radius: 0 0 20px 20px;
}
.cheese[b-xhonqvrda9] { 
    background-color: #FFD700;
    height: 15px;
    border-radius: 0 0 20px 20px;
}
.egg[b-xhonqvrda9]{
    background-color: #F0E68C;
    height: 15px;
    border-radius: 0 0 20px 20px;
}
.jalapenos[b-xhonqvrda9]{
    background-color: #FFA500;
    height: 15px;
    border-radius: 0 0 20px 20px;
}
.lettuce[b-xhonqvrda9] { 
    background-color: #32CD32;
    height: 15px;
    border-radius: 0 0 20px 20px;
}
.pickles[b-xhonqvrda9] { 
    background-color: #228B22;
    height: 15px;
    border-radius: 0 0 20px 20px;
}

.ingredients-list[b-xhonqvrda9] {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.Home_Page[b-xhonqvrda9]
{
    display:grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 0.2fr 0.1fr 1fr;
}
.Main_Page_Header_Class[b-xhonqvrda9]
{
    grid-column: 2;
}
.Select_Buttons[b-xhonqvrda9]
{
    grid-row-start: 1;
    grid-row-end: 3;
}
.Order_Division[b-xhonqvrda9]
{
    grid-row:1;
    grid-column: 3;
}
.Score_Board_Divison[b-xhonqvrda9]
{
    grid-row: 3;
    grid-column: 3;
}
.Cooking_Table_Division[b-xhonqvrda9]
{
    grid-row: 3;
    grid-column: 2;
}
.Timer_Divison[b-xhonqvrda9]
{
    margin-top: -50px;
    display: flex;
    justify-content: center;
    text-align: center;
    grid-column: 2;
    font-size: 1.5rem;
}
.Skip_Play_Buttons[b-xhonqvrda9]
{
    grid-column: 3;
    grid-row: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.Time_Elapsed_Message[b-xhonqvrda9]
{
    font-size: 2rem;
    color: black;
    text-align: center;
    grid-column: 2;
}
.Time_Elapsed_Score[b-xhonqvrda9]
{
    font-size:3rem;
    color: #E36565;
    text-align: center;
    grid-column: 2;
}
.Time_Elapsed_Instruction[b-xhonqvrda9]
{
    font-size: 1.5rem;
    color: black;
    text-align: center;
    grid-column: 2;
}
.Play_Again_Button[b-xhonqvrda9]
{
    grid-column: 2;
}
.burger-container[b-xhonqvrda9] 
{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    min-height: 300px;
    z-index: 15;
}
.burger-container > div[b-xhonqvrda9] 
{
    width: 200px;
    margin: 2px;
    border-radius: 10px;
}
/* /Shared/Cooking_Table.razor.rz.scp.css */
.Cooking_Table[b-47h3d0y4yv] 
{
    background-color: #7E4D4D;
    width: 100%;
    height: 350px;
    clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
}
/* /Shared/Score_Board.razor.rz.scp.css */
.Score_Board[b-xkv77izt6k] {
    width:280px;
    height:60px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    text-align: center;
    background-color: #FFCBA2;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.Score_Board_Image[b-xkv77izt6k]
{
    padding-top: 5px;
    grid-column: 1;
    max-width: 50px;
    max-height: 100px;
    padding-left: 10px;
}
.Current_Score[b-xkv77izt6k]
{
    grid-column: 2;
    font-size: 40px;
    font-weight: bold;
}
