.Player_Guide {
    font-family: 'Poppins', sans-serif;
}

.Player_Guide_Heading {
    text-align: center;
    font-size: 2.5rem;
    color: #ff7f50;
}

.Player_Guide_Rules {
    background-color: #FFCBA2;
    border: 1px solid black;
    padding: 10px;
}
