@@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

.sesame-bun[b-us3kyvq5il] 
{ 
    background-color: #F4A460; 
    border-radius: 50px 50px 0 0;
    height: 60px;
    position: relative;
    overflow: hidden;
}

.garlic-bun[b-us3kyvq5il] 
{ 
    background-color: #F4A460; 
    border-radius: 50px 50px 0 0;
    height: 60px;
    position: relative;
    overflow: hidden;
}
.parmesan-bun[b-us3kyvq5il] 
{ 
    background-color: #F4A460; 
    border-radius: 50px 50px 0 0;
    height: 60px;
    position: relative;
    overflow: hidden;
}
.plain-bun[b-us3kyvq5il] 
{ 
    background-color: #F4A460; 
    border-radius: 50px 50px 0 0;
    height: 60px;
    position: relative;
    overflow: hidden;
}
.sesame-bun[b-us3kyvq5il] 
{ 
    background-color: #F4A460; 
    border-radius: 50px 50px 0 0;
    height: 60px;
    position: relative;
    overflow: hidden;
}

.bun-top[b-us3kyvq5il]::after 
{
    content: '';
    position: absolute;
    top: 5px;
    left: 10%;
    right: 10%;
    height: 10px;
    background-color: #D2691E;
    border-radius: 50%;
}
.bun-bottom[b-us3kyvq5il] { 
    background-color: #F4A460;
    border-radius: 0 0 50px 50px;
    height: 30px;
}

.veggie-patty[b-us3kyvq5il] 
{ 
    background-color: #e68b2a;
    height: 30px;
    border-radius: 10px;
}
.chicken-patty[b-us3kyvq5il] 
{ 
    background-color: #532300;
    height: 30px;
    border-radius: 10px;
}
.fish-patty[b-us3kyvq5il] 
{ 
    background-color: #92562b;
    height: 30px;
    border-radius: 10px;
}
.portobello-mushroom-patty[b-us3kyvq5il] 
{ 
    background-color: #aa623c;
    height: 30px;
    border-radius: 10px;
}
.aioli[b-us3kyvq5il]
{
    background-color: #ffefb3;
    height: 10px;
}
.bbq-sauce[b-us3kyvq5il]
{
    background-color: #8b0000;
    height: 10px;
}
.ketchup[b-us3kyvq5il]
{
    background-color: #ff0000;
    height: 10px;
}
.mustard[b-us3kyvq5il]
{
    background-color: #ffdb58;
    height: 10px;
}
.hot-sauce[b-us3kyvq5il]
{
    background-color: #ff4500;
    height: 10px;
}
.ranch[b-us3kyvq5il]
{
    background-color: #c4bf60;
    height: 10px;
}
.mayonnaise[b-us3kyvq5il]
{
    background-color: #fff5ee;
    height: 10px;
}

.onion[b-us3kyvq5il] { 
    background-color: #FFA07A;
    height: 15px;
    border-radius: 0 0 20px 20px;
}
.tomato[b-us3kyvq5il] { 
    background-color: #FF6347;
    height: 15px;
    border-radius: 0 0 20px 20px;
}
.avocado[b-us3kyvq5il] { 
    background-color: #7CFC00;
    height: 15px;
    border-radius: 0 0 20px 20px;
}
.bacon[b-us3kyvq5il] { 
    background-color: #8B0000;
    height: 15px;
    border-radius: 0 0 20px 20px;
}
.cheese[b-us3kyvq5il] { 
    background-color: #FFD700;
    height: 15px;
    border-radius: 0 0 20px 20px;
}
.egg[b-us3kyvq5il]{
    background-color: #F0E68C;
    height: 15px;
    border-radius: 0 0 20px 20px;
}
.jalapenos[b-us3kyvq5il]{
    background-color: #FFA500;
    height: 15px;
    border-radius: 0 0 20px 20px;
}
.lettuce[b-us3kyvq5il] { 
    background-color: #32CD32;
    height: 15px;
    border-radius: 0 0 20px 20px;
}
.pickles[b-us3kyvq5il] { 
    background-color: #228B22;
    height: 15px;
    border-radius: 0 0 20px 20px;
}

.ingredients-list[b-us3kyvq5il] {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.Home_Page[b-us3kyvq5il]
{
    display:grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 0.2fr 0.1fr 1fr;
}
.Main_Page_Header_Class[b-us3kyvq5il]
{
    grid-column: 2;
}
.Select_Buttons[b-us3kyvq5il]
{
    grid-row-start: 1;
    grid-row-end: 3;
}
.Order_Division[b-us3kyvq5il]
{
    grid-row:1;
    grid-column: 3;
}
.Score_Board_Divison[b-us3kyvq5il]
{
    grid-row: 3;
    grid-column: 3;
}
.Cooking_Table_Division[b-us3kyvq5il]
{
    grid-row: 3;
    grid-column: 2;
}
.Timer_Divison[b-us3kyvq5il]
{
    margin-top: -50px;
    display: flex;
    justify-content: center;
    text-align: center;
    grid-column: 2;
    font-size: 1.5rem;
}
.Skip_Play_Buttons[b-us3kyvq5il]
{
    grid-column: 3;
    grid-row: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.Time_Elapsed_Message[b-us3kyvq5il]
{
    font-size: 2rem;
    color: black;
    text-align: center;
    grid-column: 2;
}
.Time_Elapsed_Score[b-us3kyvq5il]
{
    font-size:3rem;
    color: #E36565;
    text-align: center;
    grid-column: 2;
}
.Time_Elapsed_Instruction[b-us3kyvq5il]
{
    font-size: 1.5rem;
    color: black;
    text-align: center;
    grid-column: 2;
}
.Play_Again_Button[b-us3kyvq5il]
{
    grid-column: 2;
}
.Play_Again[b-us3kyvq5il] 
{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
.Play_Again_Heading[b-us3kyvq5il] 
{
    font-size: 40px;
    align-self: center;
    justify-self: center;
    margin-top:10px;

}
.notification[b-us3kyvq5il] {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 5px;
    display: none;
}
.burger-container[b-us3kyvq5il] 
{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    min-height: 300px;
    z-index: 15;
}
.burger-container > div[b-us3kyvq5il] 
{
    width: 200px;
    margin: 2px;
    border-radius: 10px;
}

.Player_Name_Input[b-us3kyvq5il] {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 2px solid  #E38282;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #FFCBA2;
    width: 600px;
}

.Player_Name_Label[b-us3kyvq5il] {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #333;
}

.Player_Name_Field[b-us3kyvq5il] {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 15px;
}

.Player_Name_Button[b-us3kyvq5il] {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    background-color:  #E38282;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Player_Name_Button:hover[b-us3kyvq5il] {
    background-color:  #D35656;
}

.error-message[b-us3kyvq5il] {
    color: #ff0000;
    font-size: 1rem;
    margin-top: 10px;
}